.gcs-footer{
    width: 100%;
    align-self: center;
    font-size: 1rem;
    align-items: center;
    position:fixed;
    bottom:0;
    margin-top: 20px;
    text-align: center;
    text-shadow: #000 0.2px 0 0, #000 0 0.2px 0, #000 -1px 0 0, #000 0 -1px 0;
    color: white;
}

.gcs-footer a{
  color: #f0f1f1;
  text-decoration: none;
  padding: 0 10px;
  vertical-align:middle;
}