<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login | {{ compName }} </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
<!-- partial:index.partial.html -->
<div class="container right-panel-active">
			<!-- Sign Up -->
			<div class="container__form container--signup right-panel-active">
                <form method="post" action="#" class="form" id="form2">
					<h2 class="form__title">Sign In</h2>
					<input type="text" placeholder="username" name="username" class="input" />
					<input type="password" placeholder="Password" name="password" class="input" />
					<a href="#" class="link">Forgot your password?</a>
					<button class="btn">Sign In</button>
				</form>
			</div>

			<!-- Sign In -->
			<div class="container__form container--signin right-panel-active">
				<form method="post" action="#" class="form" id="form2">
					<h2 class="form__title">Sign In</h2>
					<input type="text" placeholder="username" name="username" class="input" />
					<input type="password" placeholder="Password" name="password" class="input" />
					<a href="#" class="link">Forgot your password?</a>
					<button class="btn">Sign In</button>
				</form>
			</div>

			<!-- Overlay -->
			<div class="container__overlay">
				<div class="overlay">
					</div>
				</div>
			</div>
		</div>
<!-- partial -->
<div class="gcs-footer">
  <div class="footer-top">
      <a href="#">异想堂动漫社</a> |
      <a href="#">幺弦动漫社</a> |
      <a href="#">海韵文化社</a>
  </div>
    <p>©Copyright 2019 M0Z@C莫扎柯/末章 版权所有 | {{ icp }}</p>
</div>
  <script  src="/css/script.js"></script>

</body>
</html>
