<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-dege">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>管理后台 | Rhythm Comp System</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <a href="#"><img class="image" src="/images/logo.png"></a>
        </div>
    </div>
    <h1 style="text-align: center">感谢您的使用，正在退出</h1>
    <meta http-equiv="refresh" content="2; url='/login'">
<div class="gcs-footer">
  <div class="footer-top">
      <a href="#">异想堂动漫社</a> |
      <a href="#">幺弦动漫社</a> |
      <a href="#">海韵文化社</a>
  </div>
    <p>©Copyright 2019 M0Z@C莫扎柯/末章 版权所有 | {{ icp }}</p>
</div>
</body>
</html>